<%- include ('../public/page_header.ejs') %>

<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"></script>

<link rel="stylesheet" type="text/css" href="/admin/webuploader/css/webuploader.css">
<link rel="stylesheet" type="text/css" href="/admin/webuploader/css/diyUpload.css">
<script type="text/javascript" src="/admin/webuploader/js/webuploader.html5only.min.js"></script>
<script type="text/javascript" src="/admin/webuploader/js/diyUpload.js"></script>
<style>
    #as div:nth-child(2){
        width: 100% !important;
        height: 100% !important;
    }
</style>

    <div class="container-fluid">
        <div class="row">

            <div class="panel panel-default">
                <div class="panel-heading">
                    增加商品
                </div>
                <div class="panel-body">
                    <div class="table-responsive input-form goods_content">
                        <form action="/<%=config.adminPath%>/goods/doAdd" method="post" enctype="multipart/form-data">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#general" role="tab"
                                        data-toggle="tab">通用信息</a></li>
                                <li role="presentation"><a href="#detail" role="tab" data-toggle="tab">详细描述</a></li>
                                <li role="presentation"><a href="#mix" role="tab" data-toggle="tab">商品属性</a></li>
                                <li role="presentation"><a href="#attribute" role="tab" data-toggle="tab">规格与包装</a></li>
                                <li role="presentation"><a href="#photo" role="tab" data-toggle="tab">商品相册</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="general">
                                    <ul class="form_input">
                                        <li> <span> 商品标题:</span> <input type="text" name="title" class="input" /></li>
                                        <li> <span> 附属标题:</span> <input type="text" name="sub_title" class="input" />
                                        </li>
                                        <li> <span>商品版本:</span> <input type="text" name="goods_version" class="input" />
                                        </li>
                                        <li>
                                            <span>所属分类:</span>
                                            <select name="cate_id" id="cate_id">
                                                <%for(let i = 0; i < goodsCate.length; i++){%>
                                                    <option value="<%=goodsCate[i]._id%>"><%=goodsCate[i].title%></option>

                                                    <%for(let j = 0; j < goodsCate[i].items.length; j++){%>
                                                        <option value="<%=goodsCate[i].items[j]._id%>">---<%=goodsCate[i].items[j].title%></option>
                                                    <%}%>
                                                <%}%>
                                            </select>

                                            <input type="hidden" name="cname" id="cname" />

                                        </li>
                                        <li> <span> 商品图片:</span> <input type="file" name="goods_img" /></li>
                                        <li> <span>商品价格:</span> <input type="text" name="shop_price" /></li>
                                        <li> <span>商品原价:</span> <input type="text" name="market_price" /></li>

                                        <li> 
                                            <span>商品状态:</span>　
                                            <input type="radio" value="1" name="status" checked /> 显示
                                            <input type="radio" value="0" name="status" /> 隐藏
                                        </li>

                                        <li> 
                                            <span>加入推荐:</span>　
                                            <input type="checkbox" value="1" name="is_best" /> 精品
                                            <input type="checkbox" value="1" name="is_hot" /> 热销
                                            <input type="checkbox" value="1" name="is_new" /> 新品
                                        </li>
                                    </ul>

                                </div>
                                <div role="tabpanel" class="tab-pane" id="detail">

                                    <!-- <textarea name="content" id="content" cols="100" rows="8"></textarea> -->
                                    <div id="editor" name="goods_content" style="width:100%; height:500px;"></div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="mix">

                                    <ul class="form_input">
                                        <li>
                                            <span>商品颜色:</span>
                                            <%for(let i = 0; i < goodsColor.length; i++){%>
                                                <label for="<%=goodsColor[i]._id%>">
                                                    <input type="checkbox" name="goods_color[]" value="<%=goodsColor[i]._id%>" id="<%=goodsColor[i]._id%>">
                                                    <span><%=goodsColor[i].color_name%></span>
                                                </label>
                                            <%}%>
                                        </li>

                                        <li>
                                            <span>关联商品:</span>

                                            <input type="text" name="relation_goods" class="relation_goods" />
                                            <i>填写关联商品的id 多个以逗号隔开 格式：23,24,39</i>
                                        </li>

                                        <li>
                                            <span>关联赠品:</span>

                                            <input type="text" name="goods_gift" class="goods_gift" /> <i>可为空
                                                格式：23-2,39-5 说明：例如23-2 中的23表示商品id,2表示商品数量</i>
                                        </li>

                                        <li>
                                            <span>关联配件:</span>
                                            <input type="text" name="goods_fitting" class="goods_fitting" /> <i>可为空
                                                格式：23-2,39-5 说明：例如23-2 中的23表示商品id,2表示商品数量</i>

                                        </li>

                                        <li>
                                            <span>更多属性:</span>

                                            <input type="text" name="goods_attr" class="goods_attr" /> 
                                            <i> 格式: 颜色:红色,白色,黄色 | 尺寸:41,42,43</i>
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="attribute">
                                    <ul class="form_input">
                                        <li>
                                            <span>商品类型:　</span>

                                            <select name="goods_type_id" id="goods_type_id">
                                                <option value="0">--请选择商品类型--</option>

                                                <%for(let i = 0; i < goodsType.length; i++){%>
                                                    <option value="<%=goodsType[i]._id%>"><%=goodsType[i].title%></option>
                                                <%}%>
                                            </select>
                                        </li>
                                    </ul>


                                    <ul class="form_input" id="goods_type_attribute">


                                    </ul>

                                </div>
                                <div role="tabpanel" class="tab-pane" id="photo">
                                    <div id="as" ></div>
                                    <div id="photoList"></div>
                                </div>
                            </div>

                            <button id="submit" type="submit" class="btn btn-success goods_content_btn">提交</button>

                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        //实例化编辑器
        //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
        var ue = UE.getEditor('editor', { autoHeightEnabled: false });

        $("#goods_type_id").change(function(){
            // 获取商品类型id
            var id = $(this).val();

            $("#goods_type_attribute").html('');
            if(id == 0)return;

            // 发送请求获取商品类型对应的属性
            $.ajax({
                method: "get",
                url: "/<%=config.adminPath%>/goods/getGoodsTypeAttr",
                data:{
                    id: id,
                },
                success:function(result){
                    var str = ''

                    var goodsTypeAttr = result.goodsTypeAttr;
                    for (var index = 0; index < goodsTypeAttr.length; index++) {
                        const element = goodsTypeAttr[index];

                        str += '<li>';
                        str += '<span style="display: inline-block; width: 60px;">' + element.title + '</span>：';
                        str += '<input type="hidden" name="attr_id_list[]" value="' + element._id + '" />';
                        
                        if(element.attr_type == 1){
                            // 单行文本框
                            str += '<input type="text" name="attr_value_list[]" />';

                        } else if(element.attr_type == 2){
                            // 多行文本框
                            str += '<textarea name="attr_value_list[]" id=""></textarea>';

                        }else{
                            var attrValue = element.attr_value.split("\n");

                            // 下拉选择框
                            str += '<select name="attr_value_list[]" id="">';
                            
                            for (let i = 0; i < attrValue.length; i++) {
                                const value = attrValue[i];
                                str += '<option value="'+ value +'">' + value + '</option>';
                            }

                            str += '</select>';
                        }

                        str += '</li>';
                    }

                    $("#goods_type_attribute").html(str);
                }
            });
        });
    
        $('#as').diyUpload({
            url:'/<%=config.adminPath%>/goods/doImageUpload',
            success:function( data ) {
                console.info( data.link );

                var photoStr = '<input type="hidden" name="goods_image_list[]" value="'+ data.link +'">'
                $("#photoList").append(photoStr);
            },
            error:function( err ) {
                console.info( err );	
            },
            buttonText : '选择文件',
            chunked:true,
            // 分片大小
            chunkSize:512 * 1024,
            //最大上传的文件数量, 总文件大小,单个文件大小(单位字节);
            fileNumLimit:50,
            fileSizeLimit:500000 * 1024,
            fileSingleSizeLimit:50000 * 1024,
            accept: {}
        });
    </script>
    </body>

    </html>