<%- include ('../public/page_header.ejs') %>

    <div class="container-fluid">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    搜索
                </div>
                <div class="panel-body">
                    <form role="form" action="/<%=config.adminPath%>/manager" method="GET" class="form-inline">
                        <div class="form-group">
                            <label for="username">名称</label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="请输入名称">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-default">开始搜索</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--
            列表展示
        -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr class="th">
                            <th>管理员名称</th>
                            <th>管理员手机号</th>
                            <th>管理员邮箱</th>
                            <th>管理员角色</th>
                            <th>添加时间</th>

                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody>

                        <%for(let i=0; i<adminList.length; i++){%>
                            <tr>
                                <td><%=adminList[i].username%></td>
                                <td><%=adminList[i].phone%></td>
                                <td><%=adminList[i].email%></td>
                                <td><%=adminList[i].role[0] && adminList[i].role[0].title%></td>
                                <td><%=helper.moment(adminList[i].add_time)%></td>

                                <td class="text-center">
                                    <a target="rightView" href="/<%=config.adminPath%>/manager/edit?id=<%=adminList[i]._id%>">修改</a>
                                    <a target="rightView" class="delete" href="/<%=config.adminPath%>/manager/delete?id=<%=adminList[i]._id%>">删除</a>
                                </td>
                            </tr>
                            <%}%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    </body>

    </html>